@import "form";

.v-application {
  .logo {
    text-decoration: none;

    img {
      width: 42px;
    }

    span {
      font-size: 18px;
      color: #fff;
      white-space: nowrap;
      padding-left: 5px;
    }
  }

  .no-undeline {
    text-decoration: none;
  }
}
